*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-around;

}
.logo{
    display: flex;
    height: 100px;
    width: 150px;
    position: absolute;
    left: 0px;
    background-image: url(logo.png);
    background-size: cover;
}
.heading{
display: flex;
align-items: center;
font-size: 1.3rem;
}
.heading a {
    color: white;
    text-decoration: none;
}
.heading1{
    padding-right: 100px;   
    padding-left: 10px;
    border-left: 2px solid white;
}
.heading1 a:hover{
    color: blue;
}
.heading2{
padding-right: 100px;
padding-left: 10px;
border-left: 2px solid white;
}
.heading2 a:hover{
    color: blue;
}
.heading3{
padding-right: 100px;
padding-left: 10px;
border-left: 2px solid white;
}
.heading3 a:hover{
    color: blue;
}
.heading4{
    padding-left: 10px;
    border-left: 2px solid white;
}
.heading4 a:hover{
    color: blue;
}
.about{
    height: 600px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-bottom: 4px solid black;
    
}
.info{
    height: 400px;
    width: 50%;
    background-color: rgb(190, 93, 24);
    margin: 10px;
    padding: 20px;
    padding-left: 30px;
    position: relative;
    
}
.photo{
    height: 430px;
    width: 340px;
    background-image: url(sanchit_kharade.png);
    background-size: cover;
    margin-left: 180px;
    border: 5px solid black;
    position: absolute;
    animation: anime 4s ease-in-out forwards;
}
h1{
    padding-bottom: 15px;
}
.abo,.edu,.exp,.hob{
    padding-top: 15px;
    font-size: 1.4rem;
}
p,li{
    font-size: 1.2rem;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: red;
}
a:hover{
    color: blue;
}
.skills{
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-bottom: 4px solid black;
}
.content1{
    height: 200px;
    background-color: blueviolet;
    padding-top: 60px;
    padding-left: 50px;
    width: 50%;
}
.image1{
    height: 400px;
    width: 660px;
    background-image: url(image1.png);
    background-size: cover;
    
}
.skills:hover{
    .image1{
        position: relative;
        animation: anime2 2s ease-in-out forwards; 
    }
}
.projects{
    height: 600px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-bottom: 4px solid black;
}
.projects:hover{
    .img2{
        position:relative;
        animation: anime3 2s ease-in-out forwards;
    }
}
.content2{
    height: 300px;
    width: 50%;
    background-color: rgb(33, 191, 202);
    margin: 10px;
    padding: 20px;
    padding-left: 30px;
    margin-left:20px;
}
.inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
    background-color: aliceblue;
    padding: 20px;
}
.img2{
    height: 550px;
    width: 600px;
    background-image: url(image2.png);
    background-size: cover;
    margin-left: 20px;
    
}
.resume{
    height:600px ;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-bottom: 4px solid black;
}
.resume:hover{
    .img4{
        position: relative;
        animation: anime2 2s ease-in-out forwards;
    }
}
.img4{
    height: 510px;
    width: 500px;
    background-image: url(img4.png);
    background-size: cover;
    margin-left: 20px;
    
}
.content4{
    height: 200px;
    background-color: rgb(190, 93, 24);
    padding-top: 60px;
    padding-left: 50px;
    width: 50%;
    margin-left: 60px;
}
.content4 a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.content4 a:hover{
    color: blue;
}
.contact{
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-bottom: 4px solid black;
}
.contact:hover{
    .img3{
        position: relative;
        animation: anime 2s ease-in-out forwards;
    }
}
.content3{
    height: 250px;
    background-color: rgb(33, 191, 202);
    margin: 10px;
    padding-top: 30px;
    padding-left: 50px;
    width: 50%;
    margin-left: 20px;
}
.symbols{
    font-size: 1.5rem;
    letter-spacing: 10px;
}
.img3{
   height: 450px;
   width: 525px;
   background-image: url(img3.png);
   background-size:cover ;
   margin-left: 80px;
}
footer{
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
@keyframes anime {
    from{
        right: -500px;
    }
    to{
        right: 50px;
    }
}
@keyframes anime2 {
    from{
        left: -500px;
    }
    to{
        left: 20px;
    }
}
@keyframes anime3 {
    from{
        right: -600px;
    }
    to{
        right: 10px;
    }
}